<!DOCTYPE html>
<html>
  <%- include("../static/layout.ejs") %>

    <div class="divDetails">
      <h3 class="text-center"><%= employee.name %></h5>
      <br>
      <h5><b>ID:</b> <%= employee._id %></h5>
      <h5><b>NIF:</b> <%= employee.nif %></h5>
      <h5><b>Email:</b> <%= employee.email %></h5>
      <h5><b>Password:</b> <%= employee.password %></h5>
      <h5><b>Género:</b> <%if (employee.gender == 'M') {%>Masculino <%} else{%> Feminino<%}%></h5>
      <h5><b>Data de nascimento:</b> <%= employee.birth_date.getDate() %>/<%= employee.birth_date.getMonth()+1 %>/<%= employee.birth_date.getFullYear() %></h5>
      <h5><b>Morada:</b> <%= employee.address %></h5>
      <h5><b>Telefone:</b> <%= employee.phoneNumber %></h5>
    </div>

  <%- include("../static/footer.ejs") %>
</html>
