<!DOCTYPE html>
<html>
  <%- include("../static/layout.ejs") %>

    <div class="divDetails">
      <h3 class="text-center"><%= customer.name %></h3>
      <br>
      <h5><b>ID:</b> <%= customer._id %></h5>
      <h5><b>NIF:</b> <%= customer.nif %></h5>
      <h5><b>Email:</b> <%= customer.email %></h5>
      <h5><b>Género:</b> <%if (customer.gender == 'M') {%>Masculino <%} else{%> Feminino<%}%></h5>
      <h5><b>Data de nascimento:</b> <%= customer.birth_date.getDate() %>/<%= customer.birth_date.getMonth()+1 %>/<%= customer.birth_date.getFullYear() %></h5>
      <h5><b>Morada:</b> <%= customer.address %></h5>
      <h5><b>Telefone:</b> <%= customer.phoneNumber %></h5>
      <h5><b>Pontos:</b> <%= customer.points %></h5>
    </div>

  <%- include("../static/footer.ejs") %>
</html>
