<!DOCTYPE html>
<html>
  <%- include("../static/layout.ejs") %>
  <h1 class="text-center">Clientes</h1>
  <div class="tableMargins">
    <button type="button" class="btn btn-secondary float-end" onclick="location.href=window.location.href+'/create'">Criar Cliente</button>
    <table class="table table-dark table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Editar</th>
        <th scope="col">Apagar</th>
      </tr>
    </thead>
    <tbody>
      <%if(customers.length > 0){%>
        <% for(let customer of customers) { %>
          <tr>
            <td scope="row"><%= customer.name %></th>
            <td><%= customer.email %></td>
            <td><i class="fa-solid fa-circle-plus icons" onclick="location.href=window.location.href+'/details/<%= customer._id %>'"></i></td>
            <td><i class="fa-solid fa-pen icons"></i></td>
            <td><i class="fa-solid fa-trash-can icons"></i></i></td>
          </tr>
        <% } %>
      <% } else { %>
          <tr>
            <td scope="row" colspan="6" class="text-center">Não foram encontrados dados!</td>
          </tr>
        <% } %>
    </tbody>
  </table>
</div>

<%- include("../static/footer.ejs") %>
</html>
